<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!--<remove name = "oracle.dataaccess.client"/>
    <sectionGroup name="oracle.dataaccess.client" type="Oracle.DataAccess.Client.OracleSectionGroup, Oracle.DataAccess, Version=4.112.3.0, Culture=neutral, PublicKeyToken=89b483f429c47342">
      <section name="settings" type="Oracle.DataAccess.Client.SettingsSection, Oracle.DataAccess, Version=4.112.3.0, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
    </sectionGroup>-->
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="NormManagementMVVM.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.DataAccess.Client" />
      <add name="Oracle Data Provider for .NET" invariant="Oracle.DataAccess.Client" description="Oracle Data Provider for .NET" type="Oracle.DataAccess.Client.OracleClientFactory, Oracle.DataAccess, Version=4.112.3.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </DbProviderFactories>
  </system.data>
  <!--<connectionStrings>
    <add name="NormEntities" connectionString="metadata=res://*/Model.NormativeModel.csdl|res://*/Model.NormativeModel.ssdl|res://*/Model.NormativeModel.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;DATA SOURCE=(DESCRIPTION =
    (ADDRESS_LIST =
      (ADDRESS = (PROTOCOL = TCP)(HOST = 10.0.1.15)(PORT = 1530))
    )
    (CONNECT_DATA =
      (SID = RMSP)
    )
  )
;PASSWORD=golive104;PERSIST SECURITY INFO=True;USER ID=RMSPRD&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>-->
  <!--<oracle.dataaccess.client>
    <settings>
      <add name="SelfTuning" value="0"/>
      <add name="MaxStatementCacheSize" value="10"/>
      <add name="RMSPRD.Y_NORM_MANAGEMENT.GET_PARAMETER_VALUES.RefCursor.O_RECORDSET" value="implicitRefCursor bindinfo='mode=Output'"/>
      <add name="RMSPRD.Y_NORM_MANAGEMENT.GET_PARAMETER_VALUES.RefCursorMetaData.O_RECORDSET.Column.0" value="implicitRefCursor metadata='BaseSchemaName=RMSPRD;ColumnName=VALUE;NativeDataType=varchar2;ProviderType=Oracle.DataAccess.Client.OracleDbType.Varchar2;ProviderDBType=String;DataType=System.String'"/>
      <add name="RMSPRD.Y_NORM_MANAGEMENT.GET_PARAMETER_VALUES.RefCursorMetaData.O_RECORDSET.Column.1" value="implicitRefCursor metadata='BaseSchemaName=RMSPRD;ColumnName=NAME;NativeDataType=varchar2;ProviderType=Oracle.DataAccess.Client.OracleDbType.Varchar2;ProviderDBType=String;DataType=System.String'"/>

      <add name="RMSPRD.Y_NORM_MANAGEMENT.GET_VALUES.RefCursor.O_RECORDSET" value="implicitRefCursor bindinfo='mode=Output'"/>
      <add name="RMSPRD.Y_NORM_MANAGEMENT.GET_VALUES.RefCursorMetaData.O_RECORDSET.Column.0" value="implicitRefCursor metadata='BaseSchemaName=RMSPRD;ColumnName=VALUE;NativeDataType=varchar2;ProviderType=Oracle.DataAccess.Client.OracleDbType.Varchar2;ProviderDBType=String;DataType=System.String'"/>
      <add name="RMSPRD.Y_NORM_MANAGEMENT.GET_VALUES.RefCursorMetaData.O_RECORDSET.Column.1" value="implicitRefCursor metadata='BaseSchemaName=RMSPRD;ColumnName=NAME;NativeDataType=varchar2;ProviderType=Oracle.DataAccess.Client.OracleDbType.Varchar2;ProviderDBType=String;DataType=System.String'"/>
    </settings>
  </oracle.dataaccess.client>-->
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <connectionStrings>
    <add name="Entities" connectionString="metadata=res://*/Model.NormativeModelTest.csdl|res://*/Model.NormativeModelTest.ssdl|res://*/Model.NormativeModelTest.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;DATA SOURCE=rmstst;PASSWORD=;PERSIST SECURITY INFO=True;USER ID=RMSTST&quot;" providerName="System.Data.EntityClient" />
    <add name="NormEntities" connectionString="metadata=res://*/Model.NormativeModel.csdl|res://*/Model.NormativeModel.ssdl|res://*/Model.NormativeModel.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;DATA SOURCE=rmstsn;PASSWORD=;PERSIST SECURITY INFO=True;USER ID=RMSPRD&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <applicationSettings>
    <NormManagementMVVM.Properties.Settings>
      <setting name="Setting1" serializeAs="String">
        <value>fwerfwerf</value>
      </setting>
    </NormManagementMVVM.Properties.Settings>
  </applicationSettings>
</configuration>